flask
langchain
langchain_community
langchain_experimental
langchain_google_genai
langchain_pinecone
pinecone-client[grpc]
sentence-transformers==2.2.2
transformers==4.21.2
tokenizers==0.11.6
huggingface_hub==0.16.4
python-dotenv
pypdf
-e .


